* {
  padding: 0;
  margin: 0;
}
.image {
  height: 150vh;
  width: 100vw;
  background-image: url(../picture/Africa.png);
  background-size: cover;
  position: relative;
}
.image .overlay {
  height: 150vh;
  width: 100vw;
  position: absolute;
  background-color: black;
  background: rgba(0, 0, 0, 0.3);
}
.image .overlay .container {
  background-color: aliceblue;
  height: 670px;
  width: 400px;
  margin-top: 20px;
}
.image .overlay .container h1{
    color: orange;
    font-size: 30px;
    text-align: center;
} 
.image .overlay .container form .day{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}
.image .overlay .container #day{
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
}

.image .overlay .container #one_error{
  color: red;
  background-color: pink;
  width: 270px;
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
  display: none;

}
 
.image .overlay .container form .month{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}
.image .overlay .container #month{
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
}
.image .overlay .container #two_error{
  color: red;
  background-color: pink;
  width: 270px;
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
  display: none;

}
 
.image .overlay .container form .year{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}
.image .overlay .container #year{
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
}
 
.image .overlay .container form .gender{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}
.image .overlay .container .five{
  padding: 5px;
  border-radius: 5px;
  background-color: orange;
  color: white;
}
.image .overlay .container .five:hover{
   background-color: greenyellow;
}