* {
  padding: 0;
  margin: 0;
}
.image {
  height: 100vh;
  width: 100vw;
  background-image: url(../picture/Africa.png);
  background-size: cover;
  position: relative;
}
.image .overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: black;
  background: rgba(0, 0, 0, 0.3);
}
.image .overlay .container {
  background-color: aliceblue;
  height: 690px;
  width: 400px;
}
.image .overlay .container h1{
    color: orange;
    font-size: 30px;
    text-align: center;
} 
.image .overlay .container .form1{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}
.image .overlay .container #name{
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
}
.image .overlay .container #name_error{
  color: red;
  background-color: pink;
  width: 270px;
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
  display: none;

}

.image .overlay .container .form2{

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}
.image .overlay .container .form3{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}

.image .overlay .container #gender_error{
  color: red;
  background-color: pink;
  width: 270px;
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
  display: none;

}

.image .overlay .container .form4{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}

.image .overlay .container #date_error{
  color: red;
  background-color: pink;
  width: 270px;
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
  display: none;

}

.image .overlay .container #birth{
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
}
.image .overlay .container .form5{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}
.image .overlay .container #week{
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
}
.image .overlay .container .form6{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
}
.image .overlay .container #result{
  margin: 10px;
  padding: 20px;
  border-radius: 6px;
  border: solid 1px black;
  background-color: white;
}