* {
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
}
.image {
  height: 100vh;
  width: 100vw;
  background-image: url(../picture/Africa.png);
  background-size: cover;
  position: relative;
}
.image .overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: black;
  background: rgba(0, 0, 0, 0.3);
}
.image .overlay .sectiontwo .textone .para1 {
  font-size: 80px;
  color: azure;
  text-align: center;
}
.image .overlay .sectiontwo .imagetwo {
  text-align: center;
}
.image .overlay .sectiontwo .textone p {
  text-align: center;
  color: azure;
  font-size: 30px;
}
.image .overlay .sectiontwo .textone .burn {
  margin-left: 780px;
}
.image .overlay .sectiontwo .textone .burn a{
    text-decoration: none;
    color: azure;
}
.three{
    height:120vh ;
    width:100vw ;
    background-color: orange;
  
}
.three .pageone {
    margin-top: 15px;
    text-align: center;
    color: black;
}
.three .pageone h1{
    font-size: 40px;
    text-decoration: underline;
    margin-top: 10px;
}
.three .content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.three .content .picone{
  height: 100px;
  width: 100px;
}
.three .para2 p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;

}
.three .fury{
  margin-left: 700px;
}
.three .fury .akan{
  text-decoration: none;
  color: white;
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 218, 218);
}
.footer .subscribe .content{
  display: flex;
}
.footer .subscribe .content .input #input{
  height: 40px;
  border-radius: 5px;
}
.last{
  display: flex;
  justify-content: space-between;
}

